Source: ros-humble-rsl
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), clang-tidy <!nocheck>, doxygen, git <!nocheck>, libeigen3-dev, libfmt-dev, librange-v3-dev <!nocheck>, ros-humble-rclcpp, ros-humble-tcb-span, ros-humble-tl-expected, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rsl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libfmt-dev, ros-humble-rclcpp, ros-humble-tcb-span, ros-humble-tl-expected, ros-humble-ros-workspace
Description: ROS Support Library
