Source: ros-rolling-rsl
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), git, libeigen3-dev, librange-v3-dev <!nocheck>, ros-rolling-ament-cmake, ros-rolling-tl-expected, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rsl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-tl-expected, ros-rolling-ros-workspace
Description: ROS Support Library
